.SignIn-wrap{
  display: flex;
  flex-direction: row;
}

.green-block{
  background-image: linear-gradient(0.50turn, #40c477, #00a060);
  width: 300px;
  border-radius: 15px 0 0 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  h2{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    line-height: 45px;
  }
}

.SignIn-container{
  background: #ffffff;
  color: black;
  text-align: center;
  padding: 30px 30px 50px 30px;
  border-radius: 0 15px 15px 0;
  max-width: 750px;
  max-height: 100vh;
}

.SignIn-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 30px 15px 15px 15px;;
  color: #00a060;
}

.SignIn-title{
  display:block;
  text-transform: uppercase;
  text-decoration:none;
  width: 50%;
  padding:15px;
  background: #a0b3b044;
  color: #666;
  font-size:20px;
  text-align:center;
  cursor:pointer;
  transition: color 1s, background-color 1s;
  &.signin{
    border-radius: 15px 0 0 15px;
  }
  &.signup{
    border-radius: 0 15px 15px 0;
  }
  &.active{
    color: whitesmoke;
    background: #00a060;
  }
}

.SignIn-btn{
  border: solid 1px #00a060;
  border-radius: 30px;
  background: #00a060;
  padding: 15px 35px;
  font-weight: bold;
  color: white;
  margin: 15px;
}

.SignIn-btn:hover{
  cursor: pointer;
  opacity: .9;
}

.SignIn-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 30px 0 30px;
}

.SignIn-body  input{
  border: none;
  border: 1.5px solid #a0b3b0;
  padding: 15px;
  margin: 15px;
  min-width: 80%;
  transition: border .5s;
}

.SignIn-body  input:hover{
  opacity: .8;
  border: 1.5px solid #00a060;
}

.SignIn-body  input:focus, .SignIn-body input:not(:placeholder-shown){
  border: 1.5px solid #00a060;
}

.SignIn-body  input::placeholder{
  color: #a0b3b0;
  text-align: left;
  transition: color .5s;
}

.SignIn-body  input:hover::placeholder{
  color: #00a060;
}

.SignIn-body  input:focus::placeholder{
  color: #00a060;
  text-align: left;
}


.SignIn-link{
  text-decoration: underline;
  color: #00a060;
  font-size: .8rem;
  padding: 15px;
}

.SignIn-link:hover{
  text-decoration: none;
  opacity: .9;
  cursor: pointer;
}

// SIGN UP FORM

.Connexion-section-title{
  color: #00a060;
  font-weight: bold;
  size: 1rem;
  text-align: left;
}

.SignUp-second-form{
  transition: display 1s;
}

.SignIn-btn--transparent{
  border: solid 1px #00a060;
  border-radius: 30px;
  background: white;
  padding: 15px 35px;
  font-weight: bold;
  color: #00a060;
  margin: 15px;
  cursor: pointer;
}

.SignIn-close-btn{
  display: flex;
  justify-content: flex-end;
  color: #00a060;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .green-block{
    display: none;
  }
  .SignIn-container{
    border-radius: 15px;
  }
}
