.bigWrapper {
  width: 100%;
  margin: 0 2em 2em;
}

.bigWrapper > button {
  border: 1px solid black;
  margin-bottom: 1em;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.grid .card {
  height: 300px;
  font-size: calc(1vw + 0.7rem);
  position: relative;
  border-radius: 10px;
  background-size: cover;
}
.fa-trash-alt {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.grid .card h3 {
  text-align: center;
  font-size: calc(1vw + 0.5rem);
  border-radius: 10px;
  text-transform: capitalize;
}

.grid .card h3 em {
  font-size: calc(1vw + 0.3rem);
}

.grid .names-wrapper {
  padding: 1em;
  background-color: rgba(25, 170, 83, .6);
  animation: 0.8s slidein;
  border-radius: 10px;
}

.msg-off {
  display: none;
}
.msg-in {
  display: block;
  text-align: center;
  color: #19aa53;
  position: fixed;
  width: 50vw;
  border: 1px solid red;
  background: #FFF;
  right: 50px;
  top: 100px;
  border-radius: 5px;
  font-size: calc(1vw + 0.5rem);
  padding: 20px 20px;
  z-index: 3000;
}

@media screen and (min-width : 679px) {

  .grid .card:hover {
    .names-wrapper {
      display: block;
    }

    border: solid 2px white;
  }

  .grid .names-wrapper {
    display: none;
  }

  .list {
    width: 60%;
  }

}

/////////////////////////////////////////// display different ///////////////////////////////////////////////

.list {
  margin: 0 auto;
}

.list .card {
  padding: 1em;
}
.list .card h3 {
  text-transform: capitalize;
}

.list figure:nth-child(even) {
  background-color: #1d1a26;
}


.list figure:nth-child(odd) {
  background-color: #19aa53;
}

.list .names-wrapper {
  position: relative;
}

.list .fa-trash-alt {
  position: absolute;
}

// @media screen and (min-width : 679px) {