// Style du composant plantCard

.plantCard--container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.plantCard {
  position: relative;
  margin: 0 10px 10px 10px;
  max-width: 300px;
  border-radius: 10px;
}

.plantCard-img {
  display: block;
  height: 100%;
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  min-width: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.plantCard figcaption {
  font-size: .8rem;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(25, 170, 83, 0.6);
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
}
.plantCard figcaption strong,
.plantCard figcaption em {
  display: block;
  text-transform: capitalize;
}
.plantCard-icon {
  width: 25px;
  position: absolute;
  padding: 5px;
  border-radius: 15px;
  background: #19aa53;
  top: 10px;
  right: 10px;
  transition: .3s;
  &:hover {
    transform: scale(1.3, 1.3);
  }
}
.plantCard-error {
  background: #19aa53;
  text-align: center;
  padding: 10px 20px;
}
.plant-loader {
  margin: 20px auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #19aa53; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*  Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .plantCard--container {
    flex-flow: row wrap;
  }
  .plantCard {
    transition: 0.3s; 
    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 5px 5px 6px 0px #7d7d7d;
      -moz-box-shadow: 5px 5px 6px 0px #7d7d7d;
      box-shadow: 5px 5px 6px 0px #7d7d7d;
    }
  }
  .plantCard-img {
    min-width: 300px;
  }
  
  .plantCard figcaption {
    display: none;
  }

  @keyframes slidein {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  .plantCard:hover figcaption {
    display: block;
    animation: 0.8s slidein;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1272px) {
  .plantCard--container :nth-child(2n) {
    margin-left: 0;
  }
}
@media only screen and (min-width: 1910px) {
  .plantCard--container :nth-child(3n), .plantCard--container :nth-child(5) {
    margin-left: 0;
  }
  .plantCard--container :nth-child(4) {
    margin-left: 10px;
  }
}
