/////////////////////////////////////////////////////////
/////////////////////* searchBar CSS *///////////////////
/////////////////////////////////////////////////////////

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  color: #50a3a2;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
  text-align: center;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
  text-align: center;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
}

.search {
  width: 100%;
}
.searchBar {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19aa53;
}

.searchBar form {
  display: flex;
  flex-wrap: wrap;
}

.searchBar label {
  display: flex;
  align-items: center;
  margin: 20px;
  white-space: nowrap;
}
.search--icon {
  width: 30px;
  cursor: pointer;
}

.searchBar input {
  outline: 0;
  height: 35px;
  width: 280px;
  margin: 20px 30px 20px 20px;
  padding: 0px 10px 0px 10px;
  border: 1px solid rgba(white, 0.5);
  background-color: rgba(white, 0.2);
  border-radius: 4px;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: 300;

  &:hover {
    background-color: rgba(white, 40%);
  }

  &:focus {
    background-color: white;
    width: 350px;
  }
}
.search-result {
  padding: 20px 0;
  scroll-snap-type: x mandatory;
  /* Necessary for mobile scrolling */
  -webkit-overflow-scrolling: touch;
  /* For layout purposes */
  display: flex;
  /* To allow horizontal scrolling */
  overflow-x: scroll;
  background-color: white;
}
.search-result p {
  width: 100%;
}
.search-result .plantCard {
  margin: 20px 20px 20px 0;
  max-width: calc(50vw - 10px);
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Set where the snapping should happen */
  scroll-snap-align: start;
}
.search-result .plantCard-img {
  min-height: 100%;
  width: calc(50vw - 10px);
}
.subtitle {
  text-align: center;
}
.invisible {
  display: none;
}
.search-result .lonely {
  margin: 20px auto;
}

/* Extra small devices (portrait phones, less than 768px) */

@media only screen and (max-width: 768px) {
  .searchBar form {
    justify-content: space-around;
  }
  .search-result .plantCard {
    max-width: 100vw;
  }
  .search-result .plantCard-img {
    width: 100vw;
  }
  .searchBar input {
    width: 200px;
    &:focus {
      width: 250px;
    }
  }
}
@media only screen and (max-width: 645px) {
  .searchBar label {
    margin-bottom: 0px;
  }
}
