#weatherBrokenClouds {
  width: 100%;
  height: 350px;
  background-image: url('../../assets/img/weather/broken-clouds.jpeg');
  background-size: cover;
}

#weatherRain {
  width: 100%;
  height: 350px;
  background-image: url('https://images.unsplash.com/photo-1486016006115-74a41448aea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

#weatherOvercastClouds {
  width: 100%;
  height: 350px;
  background-image: url('https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

#weatherSnowy {
  width: 100%;
  height: 350px;
  background-image: url('https://images.unsplash.com/photo-1482489603187-f0ae98f407a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

#weatherFoggy {
  width: 100%;
  height: 350px;
  background-image: url('https://images.unsplash.com/photo-1488279790500-92397988c0c1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"');
  background-size: cover; 
}

#weatherClearSky {
  width: 100%;
  height: 350px;
  background-image: url('../../assets/img/weather/clear-sky.jpeg');
  background-size: cover; 
}


.weather p {
  color: black;
  margin-top: 33px;
  margin-left: 15px;
}