///////////////////* Composant météo *////////////////////
#weather {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#weather__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weather__info {
  margin: 20px 0px 0px 50px;
  padding: 0px 0px 15px 15px;
  width: 500px;
  border-left: 4px solid #19aa53;
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 27px 18px -16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 27px 18px -16px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 27px 18px -16px rgba(0, 0, 0, 0.2);
  font-size: 1.6em;
  font-weight: 600;
}

.weather__key {
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
}

.weather__value {
  font-size: 1.1em;
  font-weight: 600;
}

.clear {
  background-image: url("https://images.unsplash.com/photo-1531147646552-1eec68116469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
.rain {
  background-image: url("https://images.unsplash.com/photo-1486016006115-74a41448aea2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1947&q=80");
}
.clouds {
  background-image: url("https://images.unsplash.com/photo-1567076351483-3e036ea69e14?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
}
.thunderstorm {
  background-image: url("https://images.unsplash.com/photo-1502254245412-a88ae01690d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1984&q=80");
}
.drizzle {
  background-image: url("https://images.unsplash.com/photo-1556485689-33e55ab56127?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}
.snow {
  background-image: url("https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.default{
  background-image: url("https://images.unsplash.com/photo-1531147646552-1eec68116469?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  #weather {
    height: 400px;  
  }

  .weather__info {
    margin: 20px 0px 0px 50px;
    padding: 0px 0px 15px 15px;
    width: 300px;
  }

  .weather__key {
    padding: 8px;
    font-size: 0.8em;
    font-weight: 500;
  }
  .weather__value {
    font-size: 0.9em;
    font-weight: 600;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
}

