/////////////////////////////////////////////////////////////////////////////////
//////////////////////////* Style de la home page *//////////////////////////////
/////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////* imports *//////////////////////////////////

// import des fonts via google font, OpenSans pour le texte + Ubuntu pour les titres
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Source+Sans+Pro:300,300i,400,400i,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

//////////////////////////////////* Reset CSS *//////////////////////////////
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #f2fffe;
  box-sizing: border-box;
}
// :root {
//   font-size: calc(1vw + 0.7em);
//}

.ReactModalPortal > .ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: #000000a9 !important;
}

////////////////////////* Style global conteneurs *////////////////////////
body {
  font-family: "Source Sans Pro", sans-serif;
  min-width: 300px;
  overflow-x: hidden;
  line-height: 1.5rem;
  background-color: #1d1a26;
}
.app {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

//////////////////////* Style global des éléments *///////////////////////
h1,
h2,
h3,
h4 {
  font-family: "Josefin Sans", sans-serif;
}

////////////////////*  module de connexion sign in/up *///////////////////
.header--title {
  display: flex;
  height: 20px;
}

.header--title ul {
  display: flex;
}

.header--title img {
  width: 30px;
}
.Connect-signin {
  font-size: 1rem;
  color: #19aa53;
  border: 2px solid #19aa53;
  padding: 10px;
  border-radius: 15px 0 15px 0;
  transition: border-radius 1s;
  font-weight: bold;
  &:hover {
    border-radius: 0 15px 0 15px;
    cursor: pointer;
  }
}
#connect {
  width: 100%;
  height: 80px;
  display: flex;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 3px 35px 0 #00000022;
  padding: 15px 80px;
}

#connect h1 {
  padding-left: 20px;
  font-family: "Pacifico", cursive;
  color: #19aa53;
}

.sign {
  margin-left: auto;
  color: #19aa53;
}

.sign li {
  padding: 6px;
}

///////////////////* Composant météo *////////////////////
#weather {
  width: 100%;
}

/////////////////////////* footer infos/réseaux sociaux *////////////////////
#footer {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #19aa53;
}
////#1D1A26 / #19AA53
///////////////////////* footer infos
#footer #infos {
  width: 100%;
}

#footer #infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footer #infos ul {
  width: 220px;
  padding: 10px 10px 10px 10px;
}

#footer #infos li {
  padding: 2px;
}

#footer #infos a:hover {
  text-decoration: underline;
}

//////////////////////* footer social
#footer #social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #1d1a26;
  width: 100%;
}

#footer #social ul {
  display: flex;
  padding: 10px 10px 10px 10px;
}

#footer #social ul li {
  padding: 10px;
}

.listTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

#copyrights {
  font-size: 0.9em;
}

#copyrights a:hover {
  text-decoration: underline;
}

.NavBar-logout {
  font-size: 1rem;
  color: #19aa53;
  border: 2px solid #19aa53;
  padding: 10px;
  border-radius: 15px 0 15px 0;
  transition: border-radius 1s;
  font-weight: bold;
  &:hover {
    border-radius: 0 15px 0 15px;
    cursor: pointer;
  }
}

#navBar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 3px 35px 0 #00000022;
  padding: 0 1% 0 1%;
  background-color: white;
}

#navBar h1 {
  padding-left: 20px;
  font-family: "Pacifico", cursive;
  color: #19aa53;
}

#navBar .menu {
  margin: 0 0 0 0;
  display: flex;
  width: 50%;
  justify-content: center;
}

#navBar .menu li {
  display: flex;
  align-items: center;
}

#navBar .menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 15vw;
  font-size: 1.5em;
  font-weight: bold;
  color: #19aa53;
}

#navBar .menu li a:hover {
  background-color: #19aa53;
  color: white;
}

.logout {
  color: #19aa53;
  display: flex;
  align-items: center;
}

.logout li {
  text-align: center;
}

.logout img {
  width: 40px;
  padding-top: 6px;
}

.log {
  margin-left: 20px;
}

.nav-mobile {
  display: none;
}

// .NavBar-logout {
//   margin-left: ;
// }

/////////////////////////////////////////////////////////////////////////////
////////////////////////////* Media Queries *////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  #footer {
    display: none;
  }

  #navBar {
    justify-content: center;
    .header--title:nth-child(1) {
      order: 2;
      padding: 0px 5% 0px 5%;
    }
    .menu:nth-child(2) {
      display: none;
    }
    .logout:nth-child(3) {
      order: 4;
      padding: 0px 5% 0px 5%;
    }
    .ul-log:nth-child(4) {
      order: 1;
      padding: 0px 5% 0px 5%;
    }
  }

  .logout img {
    width: 40px;
    margin-right: 0px;
  }

  .nav-mobile {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #19aa53e1;
    -webkit-box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.72);
    box-shadow: -1px 0px 13px 0px rgba(0, 0, 0, 0.72);
  }

  .nav-mobile .menu li a {
    color: #f2fffe;
    font-size: 1.2em;
  }

  .menu {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }

  .menu li {
    display: flex;
    align-items: center;
  }

  .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 15vw;
    font-size: 1.5em;
    font-weight: bold;
    color: #19aa53;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 997.99px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 998px) {
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
