/////////////////////////////////////////////////////////////////////////////////
//////////////////////////* Style de la home page *//////////////////////////////
/////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////* imports *//////////////////////////////////

// import des fonts via google font, OpenSans pour le texte + Ubuntu pour les titres
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Source+Sans+Pro:300,300i,400,400i,700,900&display=swap');

//////////////////////////////////* Reset CSS *//////////////////////////////
*, *::before, *::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #f2fffe;
  box-sizing: border-box;
}
// :root {
//   font-size: calc(1vw + 0.7em);
//}


.ReactModalPortal > .ReactModal__Overlay.ReactModal__Overlay--after-open{
  background-color: #000000a9 !important;
}



////////////////////////* Style global conteneurs *////////////////////////
body {
  font-family: "Source Sans Pro", sans-serif;
  min-width: 300px;
  overflow-x: hidden;
  line-height: 1.5rem;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

//////////////////////* Style global des éléments *///////////////////////
h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
}

////////////////////*  module de connexion sign in/up *///////////////////
#connect {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

#connect a:hover {
  text-decoration: underline;
}

.sign {
  width: 160px;
  display: flex;
}

.sign li {
  padding: 6px;
}

///////////////////* Composant météo *////////////////////
#weather {
  width: 100%;
  height: 350px;
  background: #f2fffe;
}

/////////////////////////* footer infos/réseaux sociaux *////////////////////
#footer {
  width: 100%;
  font-size: 1.1em;
  display: flex;
  flex-wrap: wrap;
  background-color: #336e7b;
}

///////////////////////* footer infos
#footer #infos {
  width: 100%;
}

#footer #infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footer #infos ul {
  width: 220px;
  padding: 60px 30px 60px 30px;
}

#footer #infos li {
  padding: 2px;
}

#footer #infos a:hover {
  text-decoration: underline;
}


//////////////////////* footer social
#footer #social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #2c3e50;
  width: 100%;
}

#footer #social ul {
  display: flex;
  padding: 20px 30px 20px 30px;
}

#footer #social ul li {
  padding: 10px;
}

.listTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

#copyrights {
  font-size: 0.9em;
}

#copyrights a:hover {
  text-decoration: underline;
}

//////////////////////* menu de l'appli une fois connecté garden/board/alerts *///////////////////////////

#navBar {
  display: none;
}

/* #navBar {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #2C3E50;
}

#navBar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
} */


/////////////////////////////////////////////////////////////////////////////
////////////////////////////* Media Queries *////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  #footer #social {
    min-height: 100px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 997.99px) {
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 998px) {
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */